/* Variables
/* ---------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Spartan:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');

:root {
  /* Colours */
  /* Palette 1 */
  --indigo: #0a2540;
  --cobalt-deep: #1d4ed8;
  --yellow-deep: #fdba74;
  --quin-rose: #f472b6;
  --titanium-white: #f8fafc;

  /* Palette 2 */
  --eggshell: #f4f1deff;
  --burnt-peach: #e07a5fff;
  --twilight-indigo: #3d405bff;
  --muted-teal: #81b29aff;
  --apricot-cream: #f2cc8fff;

  --color-primary: #3eb0ef;
  --color-base: var(--indigo);
  --color-border: var(--yellow-deep);
  --color-bg: var(--titanium-white);
  --color-hover: var(--cobalt-deep);

  --color-chip-bg: var(--titanium-white);
  --color-chip-border: var(--cobalt-deep);
  --color-chip-text: var(--cobalt-deep);
  --color-chip-bg-active: var(--yellow-deep);
  --color-chip-border-active: var(--yellow-deep);
  --color-chip-text-active: var(--cobalt-deep);

  /* Fonts */
  --font-sans-serif:
    'Futura', 'League Spartan', 'Trebuchet MS', Arial, sans-serif;
  --font-serif: 'Averia Libre', Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-display: 'Permanent Marker', cursive;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}

[data-theme='dark'] {
  --color-primary: #5ec2ff;
  --color-base: var(--titanium-white);
  --color-border: #444;
  --color-bg: var(--indigo);

  /* chips */
  --color-chip-bg: var(--indigo);
  --color-chip-border: var(--cobalt-deep);
  --color-chip-text: var(--titanium-white);
  --color-chip-bg-active: var(--cobalt-deep);
  --color-chip-border-active: var(--cobalt-deep);
  --color-chip-text-active: var(--titanium-white);
}
