---
import { getEntry } from 'astro:content';

const home = await getEntry('pages', 'index');
const instagram = home?.data.instagram;
---
<header class="site-head">
    <div class="site-head-container">
        <a class="nav-burger" href="#">
            <div class="hamburger hamburger--collapse" aria-label="Menu" role="button" aria-controls="navigation">
                <div class="hamburger-box">
                    <div class="hamburger-inner" />
                </div>
            </div>
        </a>
        <nav class="site-head-left">
            <ul class="nav" role="menu">
                <li class="nav-home" role="menuitem">
                    <a href="/studio-paintings">Studio Paintings</a>
                </li>
                <li class="nav-home" role="menuitem">
                    <a href="/urban-sketching">Urban Sketching</a>
                </li>
                <li class="nav-home" role="menuitem">
                    <a href="/plein-air">Plein Air</a>
                </li>
            </ul>
        </nav>
        <div class="site-head-center">
            <a class="site-head-logo" href="/">
                <span class="logo-lead">Juan Pablo</span>
                <span class="logo-studio">Lomeli Diaz</span>
            </a>
        </div>
        <div class="site-head-right">
            <div class="social-links">
                {instagram && (
                    <a class="nav-instagram" href={instagram} target="_blank" rel="noopener" aria-label="Instagram" title="Juan Pablo's Instagram link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456.28 456.28" aria-hidden="true">
                            <path d="M228.14,41.11c60.92,0,68.13.23,92.19,1.33,22.24,1.02,34.32,4.73,42.36,7.86,10.65,4.14,18.25,9.08,26.23,17.07,7.98,7.98,12.93,15.58,17.07,26.23,3.12,8.04,6.84,20.12,7.86,42.36,1.1,24.06,1.33,31.27,1.33,92.19s-.23,68.13-1.33,92.19c-1.02,22.24-4.73,34.32-7.86,42.36-4.14,10.65-9.08,18.25-17.07,26.23-7.98,7.98-15.58,12.93-26.23,17.07-8.04,3.12-20.12,6.84-42.36,7.85-24.05,1.1-31.27,1.33-92.19,1.33s-68.13-.23-92.19-1.33c-22.24-1.01-34.32-4.73-42.36-7.85-10.65-4.14-18.25-9.08-26.23-17.07-7.98-7.98-12.93-15.58-17.07-26.23-3.12-8.04-6.84-20.12-7.86-42.36-1.1-24.06-1.33-31.27-1.33-92.19s.23-68.13,1.33-92.19c1.02-22.24,4.73-34.32,7.86-42.36,4.14-10.65,9.08-18.25,17.07-26.23,7.98-7.98,15.58-12.93,26.23-17.07,8.04-3.12,20.12-6.84,42.36-7.86,24.06-1.1,31.27-1.33,92.19-1.33M228.14,0c-61.96,0-69.73.26-94.06,1.37-24.28,1.11-40.87,4.97-55.38,10.6-15,5.83-27.73,13.63-40.41,26.31-12.68,12.68-20.48,25.41-26.31,40.41-5.64,14.51-9.5,31.1-10.6,55.38-1.11,24.33-1.37,32.1-1.37,94.06s.26,69.73,1.37,94.06c1.11,24.28,4.96,40.87,10.6,55.38,5.83,15,13.63,27.73,26.31,40.41,12.68,12.68,25.41,20.48,40.41,26.31,14.51,5.64,31.09,9.5,55.38,10.6,24.33,1.11,32.1,1.37,94.06,1.37s69.73-.26,94.06-1.37c24.28-1.11,40.87-4.97,55.38-10.6,15-5.83,27.73-13.63,40.41-26.31,12.68-12.68,20.48-25.41,26.31-40.41,5.64-14.51,9.5-31.1,10.6-55.38,1.11-24.33,1.37-32.1,1.37-94.06s-.26-69.73-1.37-94.06c-1.11-24.28-4.96-40.87-10.6-55.38-5.83-15-13.63-27.73-26.31-40.41-12.68-12.68-25.41-20.48-40.41-26.31-14.51-5.64-31.09-9.5-55.38-10.6-24.33-1.11-32.1-1.37-94.06-1.37"/>
                            <path d="M228.14,110.99c-64.7,0-117.15,52.45-117.15,117.15s52.45,117.15,117.15,117.15,117.15-52.45,117.15-117.15-52.45-117.15-117.15-117.15M228.14,304.19c-42,0-76.05-34.05-76.05-76.05s34.05-76.05,76.05-76.05,76.05,34.05,76.05,76.05-34.05,76.05-76.05,76.05"/>
                            <path d="M377.3,106.36c0,15.12-12.26,27.38-27.38,27.38s-27.38-12.26-27.38-27.38,12.26-27.38,27.38-27.38,27.38,12.26,27.38,27.38"/>
                        </svg>
                    </a>
                )}
                <button id="theme-toggle" class="theme-toggle" aria-label="Toggle Dark Mode" title="Toggle between dark and light modes">
                    <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                    <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                </button>
            </div>
        </div>
    </div>
</header>
